@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #1572d3;
  --secondary-color: #ecf5ff;
  --background-color: #ffffff;
  --primary-hover-color: #3c94ec;
}

@layer base {
  html,
  body {
    @apply h-screen;
  }

  #root {
    @apply flex min-h-full flex-col overflow-x-hidden;
  }
}
